<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.cn.dao.SalesorderDao">

    <sql id="SalesorderColumns">
        a.soid AS "soid",
        a.mid AS "mid",
        a.mname AS "mname",
        a.snum AS "snum",
        a.price AS "price",
        a.person AS "person",
        a.status AS "status"
    </sql>

    <sql id="MedicineDaoJoins">
        LEFT JOIN medicine m on m.mid = a.mid
    </sql>

    <select id="findList" resultType="Salesorder" parameterType="Salesorder">
        select
        <include refid="SalesorderColumns" />
        from salesorder a
        <include refid="MedicineDaoJoins" />
        where 1=1
        <if test="soid!=null and soid!=''">
            AND a.soid LIKE "%"#{soid}"%"
        </if>
        AND a.status = "0"
    </select>

    <select id="get" resultType="Salesorder">
        SELECT
        <include refid="SalesorderColumns" />
        FROM salesorder a
        WHERE  a.soid = #{soid}
    </select>

    <update id="update"  parameterType="Salesorder">
        UPDATE salesorder  SET
        mid = #{mid},
        mname = #{mname},
        snum = #{snum},
        price = #{price},
        person = #{person}
        where soid = #{soid}
    </update>

    <insert id="insert">
        INSERT INTO salesorder(
        soid,
        mid,
        mname,
        snum,
        price,
        person,
        status
        )
        VALUES(
        #{soid},
        #{mid},
        #{mname},
        #{snum},
        #{price},
        #{person},
        #{status}
        )
    </insert>

    <delete id="delete">
        UPDATE salesorder a SET a.status = "1" WHERE soid = #{soid}
    </delete>
</mapper>